<div>
    <h2 id="page-heading">
        <span jhiTranslate="backendApp.evenement.home.title">Evenements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-evenement" [routerLink]="['/evenement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="backendApp.evenement.home.createLabel">
            Create new Evenement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="evenements">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span jhiTranslate="backendApp.evenement.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="backendApp.evenement.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeevnet"><span jhiTranslate="backendApp.evenement.typeevnet">Typeevnet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span jhiTranslate="backendApp.evenement.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prix"><span jhiTranslate="backendApp.evenement.prix">Prix</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let evenement of evenements ;trackBy: trackId">
                <td><a [routerLink]="['/evenement', evenement.id, 'view' ]">{{evenement.id}}</a></td>
                <td>{{evenement.nom}}</td>
                <td>{{evenement.description}}</td>
                <td jhiTranslate="{{'backendApp.Typeevent.' + evenement.typeevnet}}">{{evenement.typeevnet}}</td>
                <td>
                    <a *ngIf="evenement.image" (click)="openFile(evenement.imageContentType, evenement.image)">
                        <img [src]="'data:' + evenement.imageContentType + ';base64,' + evenement.image" style="max-height: 30px;" alt="evenement image"/>
                    </a>
                    <span *ngIf="evenement.image">{{evenement.imageContentType}}, {{byteSize(evenement.image)}}</span>
                </td>
                <td>{{evenement.prix}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/evenement', evenement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/evenement', evenement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'evenement/'+ evenement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="evenements && evenements.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
