<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commentaire">
            <h2><span jhiTranslate="backendApp.commentaire.detail.title">Commentaire</span> {{commentaire.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="backendApp.commentaire.commentaire">Commentaire</span></dt>
                <dd>
                    <span>{{commentaire.commentaire}}</span>
                </dd>
                <dt><span jhiTranslate="backendApp.commentaire.user">User</span></dt>
                <dd>
                    {{commentaire.user?.login}}
                </dd>
                <dt><span jhiTranslate="backendApp.commentaire.evenement">Evenement</span></dt>
                <dd>
                    <div *ngIf="commentaire.evenement">
                        <a [routerLink]="['/evenement', commentaire.evenement?.id, 'view']">{{commentaire.evenement?.nom}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commentaire', commentaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
